@page "/counter"
@using System.Net.Http
@using CovidUI.Responses
@inject HttpClient Http  

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<p>Latest stats</p>

<p>Active: @active</p>
<p>Recovered: @recovered</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="FetchCountryData">Get Irish data</button>



@code {
    private int currentCount = 0;

    private int active = 0;
    private int recovered = 0;


    private void IncrementCount()
    {
        currentCount++;
    }

    private async Task FetchCountryData()
    {

        var response = await Http.GetAsync(new Uri("http://localhost:5000/api/Country/latest/IE"));
        var responseContent = await response.Content.ReadAsStringAsync();
        var data = System.Text.Json.JsonSerializer.Deserialize<CountryData>(responseContent);
        active = data.ActiveCases;
        recovered = data.Recovered;
    }
}
