@page "/map"
@using System.Net.Http
@using CovidUI.Responses
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<h1>World Map</h1>
<p>
    <div>
        <input type="text" @bind-value="country" placeholder="Search for a country..."/>
        <input type="button" value="Search" @onclick="@SearchCountry">
    </div>
 </p>


<div><p>
    Length:
    @if (CountryData != null)
    {
        @CountryData.Count
    }

</p>
    
 </div>

<div id="map" style="height:500px;width:100%;"> </div>

@code {


    private List<CountryData> CountryData { get; set; }

    private string country;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetCountriesWithData();
            await JSRuntime.InvokeVoidAsync("loadBingMap", CountryData);
        }
    }

    private async Task GetCountriesWithData()
    {
        var countryInfoUrl = "http://54.76.66.207:80/api/Country/countries";
        var response = await Http.GetAsync(countryInfoUrl);
        var responseContent = await response.Content.ReadAsStringAsync();

        CountryData = System.Text.Json.JsonSerializer.Deserialize<List<CountryData>>(responseContent); //TODO
    }

    private async Task SearchCountry()
    {
        if(country == null)
        {
            return;
        }
        
        await JSRuntime.InvokeVoidAsync("searchCountryOnMap", country);
    }
}
