@page "/staticquery"
@using Syncfusion.Blazor.QueryBuilder
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor
@using CovidUI.Responses
@using Newtonsoft.Json.Linq;
@using Syncfusion.Blazor.DropDowns
@inject HttpClient Http
<div class="col-lg-12 control-section">

    <SfQueryBuilder @ref="Querybuilder" DataSource="@GridData">
        <QueryBuilderRule Condition="or" Rules="@ImportRules"></QueryBuilderRule>
        <QueryBuilderEvents RuleChanged="UpdateRule"></QueryBuilderEvents>
        <QueryBuilderColumns>
            <QueryBuilderColumn Field="CountryName" Label="Country Name" Type="string"></QueryBuilderColumn>
            <QueryBuilderColumn Field="Population" Label="Population" Type="number"></QueryBuilderColumn>
            <QueryBuilderColumn Field="PopulationDensity" Label="Population Density" Type="number"></QueryBuilderColumn>
            <QueryBuilderColumn Field="MedianAge" Label="Median Age" Type="number"></QueryBuilderColumn>
            <QueryBuilderColumn Field="Aged65Older" Label="Aged > 65" Type="number"></QueryBuilderColumn>
            <QueryBuilderColumn Field="GdpPerCapita" Label="Gdp Per Capita" Type="number"></QueryBuilderColumn>
            <QueryBuilderColumn Field="DiabetesPrevalence" Label="Diabetes Prevalence" Type="number"></QueryBuilderColumn>
            <QueryBuilderColumn Field="HandwashingFacilities" Label="Handwashing Facilities" Type="number"></QueryBuilderColumn>
            <QueryBuilderColumn Field="HospitalBedsPerThousand" Label="Hospital Beds 1000" Type="number"></QueryBuilderColumn>
            <QueryBuilderColumn Field="Active" Label="Active" Type="number"></QueryBuilderColumn>
            <QueryBuilderColumn Field="Confirmed" Label="Confirmed" Type="number"></QueryBuilderColumn>
            <QueryBuilderColumn Field="Deaths" Label="Deaths" Type="number"></QueryBuilderColumn>
            <QueryBuilderColumn Field="Recovered" Label="Recovered" Type="number"></QueryBuilderColumn>
        </QueryBuilderColumns>
    </SfQueryBuilder>
</div>
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@GridData" AllowFiltering="true" AllowPaging="true">
                <GridEvents Created="Created" TValue="CombinedCountryInformation"></GridEvents>
                <GridColumns>
                    <GridColumn Field=@nameof(Responses.CombinedCountryInformation.CountryName) HeaderText="Name" TextAlign="TextAlign.Right" Width="100"></GridColumn>
                    <GridColumn Field=@nameof(Responses.CombinedCountryInformation.Population) HeaderText="Population" TextAlign="TextAlign.Right" Width="80"></GridColumn>
                    <GridColumn Field=@nameof(Responses.CombinedCountryInformation.PopulationDensity) HeaderText="Population Density" TextAlign="TextAlign.Right" Width="90"></GridColumn>
                    <GridColumn Field=@nameof(Responses.CombinedCountryInformation.MedianAge) HeaderText="Median Age" TextAlign="TextAlign.Right" Width="80"></GridColumn>
                    <GridColumn Field=@nameof(Responses.CombinedCountryInformation.LifeExpectancy) HeaderText="Life Expectancy" TextAlign="TextAlign.Right" Width="100"></GridColumn>
                    <GridColumn Field=@nameof(Responses.CombinedCountryInformation.Aged65Older) HeaderText="Aged < 65" TextAlign="TextAlign.Right" Width="80"></GridColumn>
                    <GridColumn Field=@nameof(Responses.CombinedCountryInformation.GdpPerCapita) HeaderText="GDP Per Capita(PPP)" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(Responses.CombinedCountryInformation.DiabetesPrevalence) HeaderText="Diabetes Prevalance" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(Responses.CombinedCountryInformation.HandwashingFacilities) HeaderText="Handwashing Facilities" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(Responses.CombinedCountryInformation.HospitalBedsPerThousand) HeaderText="Hospital Beds 1000" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(Responses.CombinedCountryInformation.Active) HeaderText="Active" TextAlign="TextAlign.Right" Width="80"></GridColumn>
                    <GridColumn Field=@nameof(Responses.CombinedCountryInformation.Confirmed) HeaderText="Confirmed" TextAlign="TextAlign.Right" Width="80"></GridColumn>
                    <GridColumn Field=@nameof(Responses.CombinedCountryInformation.Deaths) HeaderText="Deaths" TextAlign="TextAlign.Right" Width="80"></GridColumn>
                    <GridColumn Field=@nameof(Responses.CombinedCountryInformation.Recovered) HeaderText="Recovered" TextAlign="TextAlign.Right" Width="80"></GridColumn>

                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>
@code{
    SfQueryBuilder Querybuilder;
    public IEnumerable<CombinedCountryInformation> GridData { get; set; }
    public IEnumerable<CombinedCountryInformation> FilterData { get; set; }
    private List<CombinedCountryInformation> CountryData { get; set; }
    public Object QueryData;
    public WhereData FilterQuery;
    public RuleModel GetRule { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await GetCountriesWithData();
        GridData = CountryData;
        FilterData = CountryData;
    }

    private async Task GetCountriesWithData()
    {
        var countryInfoUrl = "http://54.76.66.207:80/api/Country/combined";
        var response = await Http.GetAsync(countryInfoUrl);
        var responseContent = await response.Content.ReadAsStringAsync();

        CountryData = System.Text.Json.JsonSerializer.Deserialize<List<CombinedCountryInformation>>(responseContent); //TODO

    }
    private async void Created()
    {
        RuleModel Rule = new RuleModel()
        {
            Condition = "or",
            Rules = new List<RuleModel> {
            new RuleModel { Field = "CountryName", Value = "Ireland", Operator = "Equal"  } },
        };
        this.GetRule = await Querybuilder.GetValidRules(Rule);
        this.UpdateRule(new RuleChangeEventArgs() { Name = "", PreviousRule = null, Type = "", Rule = this.GetRule });
    }
    public List<RuleModel> ImportRules = new List<RuleModel>
{
        new RuleModel { Field = "CountryName", Value = "Ireland", Operator = "equals" }
    };
    private async void UpdateRule(RuleChangeEventArgs args)
    {
        this.QueryData = await Querybuilder.GetFilteredRecords();
        if (this.QueryData != null)
        {
            this.FilterQuery = ((JObject)this.QueryData).ToObject<WhereData>();
            if (this.FilterQuery.Where != null && this.FilterQuery.Where.Count > 0)
            {
                this.GridData = DataOperations.PerformFiltering(this.FilterData, this.FilterQuery.Where, this.FilterQuery.Where[0].Operator).AsEnumerable();
            }
            this.StateHasChanged();
        }
        else
        {
            this.GridData = this.FilterData;
            this.StateHasChanged();
        }
    }
    public class WhereData
    {
        public List<WhereFilter> Where { get; set; }
    }
}